/* Bootstrap compat */
pop-notify .toast[popover]:not(.show) {
    display: unset;
}

pop-notify .toast[popover]:not(:popover-open) {
    display: none;
}

/* Our styles */
pop-notify {
    --bg-lightness: 90%;
    --shadow-color: 0deg 0% 50%;
    --success-color: #228246;
    --info-color: #0077bc;
    --question-color: #527979;
    --error-color: #e21e2b;
    --warning-color: #f65b01;
    --border-radius: 0.5rem;
    --spacer: 0.5rem;
    --font-size: 14px;
    --icon-size: 21px;
    --text-color-rgb: var(--bs-body-color-rgb, 17, 17, 17);
}

@media (prefers-color-scheme: dark) {
    pop-notify {
        --bg-lightness: 20%;
        --shadow-color: 0deg 0% 40%;
        --text-color-rgb: var(--bs-body-color-rgb, 222, 226, 230);
    }
}

/* Notifications should not triggers clicks except when clicking on links and buttons */
.pop-notify-container {
    pointer-events: none;
}

.pop-notify-container button,
.pop-notify-container a {
    pointer-events: all;
}

/* Android style toast have variable width */
.pop-notify-toasts pop-notify {
    --pop-notify-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

pop-notify .notification {
    background: hsl(0 0% var(--bg-lightness) / 0.9);
    position: relative;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    line-height: 1.5;
    color: rgb(var(--text-color-rgb));

    box-shadow: 0px 1px 2px hsl(var(--shadow-color) / 0.1),
        0px 2px 4px hsl(var(--shadow-color) / 0.1),
        0px 4px 8px hsl(var(--shadow-color) / 0.1)
}

pop-notify .btn-close {
    --btn-close-color: #000;
    --btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --btn-close-opacity: 0.5;
    --btn-close-hover-opacity: 0.75;

    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    margin-inline-start: calc(var(--spacer) * 2);
    color: var(--btn-close-color);
    background: transparent var(--btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: var(--border-radius);
    opacity: var(--btn-close-opacity);
}

pop-notify .notification>.btn-close {
    position: absolute;
    top: var(--spacer);
    right: calc(var(--spacer) * 2);
}

pop-notify .btn-close:hover {
    opacity: var(--btn-close-hover-opacity);
}

pop-notify a {
    color: currentColor;
}

pop-notify .notification-simple {
    padding: var(--spacer);
    padding-left: calc(var(--spacer) * 2);
    padding-right: calc(var(--spacer) * 3);
}

pop-notify .notification-header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    padding: var(--spacer) calc(var(--spacer) * 2);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.1);
}

pop-notify .notification-icon {
    margin-inline-end: calc(var(--spacer) * 2);
    height: var(--icon-size);
    width: var(--icon-size);
    font-size: var(--icon-size);
}

pop-notify .notification-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--spacer) calc(var(--spacer) * 2);
}

pop-notify .notification-body {
    margin-inline-end: auto;
    flex-basis: 100%;
    display: block;
}

pop-notify .notification-actions {
    display: flex;
    margin-block-start: 0.5em;
}

pop-notify .notification-actions.notification-actions-1 {
    display: inline-flex;
    margin-block-start: 0;
    margin-inline-start: 1em;
}

pop-notify .notification-actions button {
    margin-inline-end: 1rem;
    border: 2px solid rgba(var(--text-color-rgb), 0.25);
    color: rgba(var(--text-color-rgb));
    border-radius: var(--border-radius);
    background: rgba(var(--text-color-rgb), 0);
    transition: all 0.25s ease;
}

pop-notify .notification-actions button:hover {
    background: rgba(var(--text-color-rgb), 0.25);
}

pop-notify .notification-success .btn-close,
pop-notify .notification-info .btn-close,
pop-notify .notification-question .btn-close,
pop-notify .notification-error .btn-close,
pop-notify .notification-warning .btn-close {
    --bs-btn-close-color: #fff;
    filter: invert(100%);
}

pop-notify .notification-success {
    background: var(--success-color);
    --text-color-rgb: 255, 255, 255;
}

pop-notify .notification-error {
    background: var(--error-color);
    --text-color-rgb: 255, 255, 255;
}

pop-notify .notification-warning {
    background: var(--warning-color);
    --text-color-rgb: 255, 255, 255;
}

pop-notify .notification-info {
    background: var(--info-color);
    --text-color-rgb: 255, 255, 255;
}

pop-notify .notification-question {
    background: var(--question-color);
    --text-color-rgb: 255, 255, 255;
}